

/* ------------------------- General ------------------------- */

:root {
    --color-one: #E5C2C0;
    --color-two: #8FD5A6;
    --color-three: #329F5B;
    --color-four: #0C8346;
    --color-five: #0D5D56;
    --color-night-sky: #151D29;
}


#parallax {
    width: 100%;
    height: 100%;
    background-color: var(--color-night-sky);
    z-index: -1;
}


/* ------------------------- Webkit Specific ------------------------- */

::-webkit-scrollbar
{
    width: 14px;
    height: 18px;
}

::-webkit-scrollbar-thumb
{
    height: 6px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.15);
    
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}


